
config CUSTOM_KERNEL_FINGERPRINT
	bool "CUSTOM_KERNEL_FINGERPRINT"
	help
	  FINGERPRINT sensor driver to detect ambient light and the object is close
	  or far awary from device. After configure this configuration,
          the specific ambient light and proximity sensor driver configuration
          should be configured as well.


source "drivers/misc/mediatek/fingerprint/gx368/Kconfig"
