
config MTK_GX368
	bool "MTK_GX368 for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and fingerprint sensor MTK_GX368.
